.map-box {
  max-width: 250px;
  max-height: 250px;
  min-width: 250px;
  min-height: 250px;
}

.map-box {
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
}

#map-image {
  cursor: crosshair;
}

#client-marker {
  position: absolute;
}