body {
  font-family: 'Cormorant Infant', serif;
  font-size: 24px;
  text-shadow: 2px 2px 2px #aaa;
}

main {
  min-height: 500px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to

/* .fade-leave-active до версии 2.1.8 */
  {
  opacity: 0;